<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Startsida</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <span class="material-symbols-outlined">expand_more</span>
                        VISA KURSER
                    </a>
                </li>
                <li>
                    <a href="/add">
                        <span class="material-symbols-outlined">add</span>
                        NY KURS
                    </a>
                </li>
                <li class="active">
                    <a href="/about">
                        <span class="material-symbols-outlined">info</span>
                        OM SIDAN
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="about-container">
            <h1>Om hemsidan</h1>
            <p>Denna webbplats ger besökaren möjlighet att lägga till och spara kurser samt läsa ut dem i listform på startsidan.</p>
            <p>Databasen som har använts är PostgreSQL och hostas på <a href="https://render.com/">render.com</a></p>
            <p>De slutsatser jag har dragit från detta arbete är att det faktiskt var mycket smidigare att arbeta mot en databas än vad jag trodde det skulle vara. Sen har jag också insett hur försiktig man behöver vara för att skydda sig mot SQL-injections, det känns verkligen som en fallgrop som är enkel att råka kliva i.</p>
        </div>
    </main>
</body>
</html>