<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Startsida</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <span class="material-symbols-outlined">expand_more</span>
                        VISA KURSER
                    </a>
                </li>
                <li class="active">
                    <a href="/add">
                        <span class="material-symbols-outlined">add</span>
                        NY KURS
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <span class="material-symbols-outlined">info</span>
                        OM SIDAN
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div id="add-container">
        <h1>Lägg till en kurs</h1>

        <form method="post" action="/add">
            <div>
                <label for="coursecode">Kurskod</label>
                <input type="text" id="coursecode" name="coursecode">
            </div>

            <div>
                <label for="coursename">Kursnamn</label>
                <input type="text" id="coursename" name="coursename">
            </div>

            <div>
                <label for="progression">Progression</label>
                <select id="progression" name="progression">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>

            <div>
                <label for="syllabus">Syllabus</label>
                <input type="text" id="syllabus" name="syllabus">
            </div>

            <input type="submit" value="LÄGG TILL KURS">
        </form>
    </div>
</body>
</html>